body {
    background: url("images/bg01.png") no-repeat;
    background-size: 1920px 1080px;
    font-family: Arial, serif;
}

#mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Arial, serif;
    color: white;
    text-align: center;
}

#clock {
    font-size: 10em;
}

#greetings {
    font-size: 3.25em;
}

#quotes {
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    font-size: 2em;
}